{% extends 'base.html.twig' %}

{% block title %}BonLivraison{% endblock %}

{% block body %}
    {# <h1>BonLivraison</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bon_livraison.id }}</td>
            </tr>
            <tr>
                <th>Bon_date_envoie</th>
                <td>{{ bon_livraison.bonDateEnvoie ? bon_livraison.bonDateEnvoie|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_bon_livraison_index') }}">back to list</a>

    <a href="{{ path('app_bon_livraison_edit', {'id': bon_livraison.id}) }}">edit</a>

    {{ include('bon_livraison/_delete_form.html.twig') }} #}

     <div class='container'>
        <div class='row'>    
            <img src="/images/logoFacture.jpg" class="logo col-6"> 
                <div class='col-6 my-auto'>
                    <div>Bon de livraison N° xxxxxxxxxxxxxxx</div>
                     <div>(Commande N°  {{ comId }}  du  {{ comDate ? comDate|date('Y-m-d') : '' }})</div>
                      <div>Date : xxxxxxxxxxxxxxxxx</div>
                      
                </div>
            <div class='border mb-2 py-2'>
           <div> Client : n°{{ adrLiv.Id }}, {{ adrLiv.AdrNom}} {{ adrLiv.AdrPrenom}}  </div>
          <div> Adresse : {{ adrLiv.AdrRue }}, {{ adrLiv.AdrCodePostal }}, {{adrLiv.AdrVille}}, {{ adrLiv.AdrPays}} </div>
            <div> {{ adrLiv.AdrTelephone }}, {{ email }}  </div>
            </div>
            <div class='border py-3'>
           <div> Adresse de livraison : {{ adrLiv.AdrRue }}, {{ adrLiv.AdrCodePostal }}, {{adrLiv.AdrVille}}, {{ adrLiv.AdrPays}} </div>
            </div>
        </div>
    
    <div class='mt-5'> Description de la livraison </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>REF.</th>
                <th>DESIGNATION</th>
                <th>Quantité</th>
                
                
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
            <td>{{ commande.p_id }}</td>
            <td>{{ commande.p_nom }}</td>

            <td>{{ commande.p_quantite }}</td>

            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
      
        </tbody>
          <tfoot>
          </tfoot>
    </table>

    {# <a href="{{ path('app_commande_crud_new') }}">Create new</a> #}
    <p>Solde payable sous « délai de paiement » à réception de facture, par « mode de paiement ».</p>
    <div>Pénalité de retard au taux annuel de « nombre » % </div>
<div>En cas de retard de paiement, application d’une indemnité forfaitaire pour frais de recouvrement de 40 euros (article D. 441-5 du code du commerce).</div>
   <div class='mt-5'> FilRougeCompany </div>
    <div> SA au capital de  </div>
    </div> 
{% endblock %}
