{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
    <h1>Commande</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commande.id }}</td>
            </tr>
            <tr>
                <th>Com_date</th>
                <td>{{ commande.comDate ? commande.comDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Com_commentaire</th>
                <td>{{ commande.comCommentaire }}</td>
            </tr>
            {# <tr>
                <th>Com_adresse_livraison</th>
                <td>{{ commande.comAdresseLivraison }}</td>
            </tr>
            <tr>
                <th>Com_adresse_facturation</th>
                <td>{{ commande.comAdresseFacturation }}</td>
            </tr> #}
            <tr>
                <th>Com_isPaid</th>
                <td>{{ commande.comIsPaid ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Com_moyen_paiement</th>
                <td>{{ commande.comMoyenPaiement }}</td>
            </tr>
            <tr>
                <th>Com_stripe_session_id</th>
                <td>{{ commande.comStripeSessionId }}</td>
            </tr>
            <tr>
                <th>Com_paypal_id</th>
                <td>{{ commande.comPaypalId }}</td>
            </tr>
        </tbody>
         {% for commande in commandes %}
          <tr>
          <td>{{ commande.p_nom }}</td>
                <td>{{ commande.p_prix }}</td>
                <td>{{ commande.p_quantite }}</td>
                </tr>
                  {% endfor %}
    </table>

    <a href="{{ path('app_commande_crud_index') }}">back to list</a>

    <a href="{{ path('app_commande_crud_edit', {'id': commande.id}) }}">edit</a>

    {{ include('commande_crud/_delete_form.html.twig') }}
{% endblock %}
